{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher_my_subjects.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="dashboard-wrapper">

    <aside class="sidebar">
        {% include "base/sidebar.html" %}
    </aside>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

</div>


</body>
</html>
